.section {
  &__counter {
    &-row {
      &:first-of-type {
        max-width: 65px;
      }

      &:nth-of-type(2) {
        width: 100%;
        max-width: 195px;
        margin: 0 auto 48px;

      }


      &-count {

        border-right: 1px solid rgba($color-primary, .1);
        padding: 0 15px;
        @include media(xs) {
          margin: 0 0 32px;
        }

        &:nth-child(3n+3) {
          border-right: 0;
        }

        &:nth-child(-n+3) {
          margin-bottom: 70px;
          @include media(xs) {
            margin: 0 0 32px;

          }
        }

        &:last-of-type {
          @include media(xs) {
            margin-bottom: 0;
          }
        }

        &-number {
          font-weight: 300;
          font-size: 72px;
          line-height: 78px;
          color: $color-primary;
          margin-bottom: 16px;
        }

        &-text {
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          margin-bottom: 0;
          color: $color-primary;

        }
      }

    }
  }
}

