.section {
  &__values {
    &-row {
      &-badge {
        background: $background-primary;
        border-radius: 6px;
        font-weight: 600;
        padding: 6px 10px;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 10px;

      }

      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
        color: $color-black;
        max-width: 670px;
        margin: 0 auto 50px;

        @include media(xs) {
          font-size: 30px;
          line-height: 36px;
        }
      }

      .card {
        &-icon {
          background: #FFFFFF;
          box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.05);
          padding: 15px 20px;
          border-radius: 15px;
        }

        &-body {
          padding-left: 0;
        }

        &-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: rgba($color-primary, .8);
          @include media(xs) {
            font-size: 16px;
            line-height: 22px;
          }
        }

        &-header {
          img {
            background: $color-white;
            box-shadow: 0px 3px 17px rgba($color-white, 0.05);
            border-radius: 15px;
          }

          .title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: $color-primary;
            @include media(xs) {
              font-size: 20px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
}