.section {
  &__expertise {
    &-row {
      margin: 0;
      @include media(xs) {
        margin: 32px 0;
        row-gap: 16px;
        text-align: center;
      }

      .col-expertise {
        padding-top: 48px;
        padding-bottom: 48px;
        @include media(xs) {
          padding-top: 0px;
          padding-bottom: 0;
        }

        &.list {
          @include media(xs) {

            padding-bottom: 32px;
          }
        }
      }

      .col-12 {
        border-top: 1px solid rgba($color-primary, .15);
        border-left: 1px solid rgba($color-primary, .15);
        @include media(xs) {
          margin-top: 16px;
        }

        .col-expertise {


          &.list {
            @include media(xs) {

              padding-bottom: 0px;
            }
          }
        }
      }

      &:first-of-type {
        border-top: 1px solid rgba($color-primary, .15);
        @include media(xs) {

          padding-top: 32px;
        }
      }

      border-bottom: 1px solid rgba($color-primary, .15);

      &-title, &-nested-title {
        margin-bottom: 16px;

        h3 {
          @include fonts(600, 30px, 36px, $color-primary);
          margin-bottom: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include media(xs) {
          row-gap: 10px;
        }

        li {
          h5 {
            @include fonts(600, 16px, 22px, $color-primary);
            margin-bottom: 0;
          }
        }
      }

      &-text, &-nested-text {
        p {
          margin-bottom: 0;
          @include fonts(400, 16px, 22px, $color-primary);
        }
      }

      &-nested {
        margin: 0;
        margin-left: 48px;
        border-bottom: 1px solid rgba($color-primary, .15);
        @include media(xs) {
          padding: 32px 0;
          margin-left: 16px;
          row-gap: 16px;
          text-align: center;
        }


        &:first-of-type {
          border-top: 0;
        }

        &:last-of-type {
          border-bottom: 0;
        }
        .col-expertise {
          &.list {
            @include media(xs) {
              padding-bottom: 0px;

              padding-top: 0;
            }
          }
        }
      }
      &.have-nested{
        .col-expertise {
          &.list {
            @include media(xs) {

              padding-bottom: 0px;
            }
          }
        }
        }
    }
  }
}