.section {

  &__comparisons {
    &-row {

      &:first-of-type {
        max-width: 88px;
      }

      &:nth-of-type(2) {
        width: 100%;
        max-width: 376px;
        margin: 0 auto 48px;
      }

      ul {

        &.row {
          list-style: none;
          display: flex; /* turn children li elements into flex children */
          flex: 1;
          flex-wrap: wrap;
          padding: 0;
          align-items: stretch;
          width: 100%;
          margin: 0;

          &:first-of-type {

            li {
              text-align: center;

              svg {
                display: block;
                margin: 0 auto;
                width: 40%;
                height: auto;
              }

              &.legend.legend {
                padding-bottom: 16px;
                background: transparent;
                box-shadow: none;
                background-color: transparent;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
                color: rgba($color-primary, .6);
              }

              &:first-of-type {
                text-align: start;
                align-self: flex-end;

              }

              &:nth-of-type(3) {
                background-color: #363636;
                border-radius: 15px 15px 0px 0px;
                padding-top: 26px;
                padding-bottom: 26px;
                border:1px solid transparent;
                //width: 268px;
                max-width: 268px;
                min-width: 268px;
                @include media(lg){
                  min-width: unset;
                  max-width: unset;
                }
              }


              &:nth-of-type(2), &:nth-of-type(4) {
                background-color: #F1F1F1;
                border-radius: 15px 15px 0px 0px;
                border-right:0;
                border-left: 0;
                border-bottom: 1px solid rgba($color-primary, 0.15);
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
                color: $color-primary;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 268px;
                max-width: 268px;
                border: 1px solid transparent;

                @include media(lg){
                  min-width: unset;
                  max-width: unset;
                }
              }
            }
          }

          &:not(:first-of-type) {
            li {
              display: flex;
              align-items: center;
              //height: 100px;
              width: 100%;
              padding-top: 0px;
              padding-bottom: 0px;

              &:first-of-type {
                p {
                  justify-content: flex-start;
                  align-items: center;
                  display: flex;
                }
              }

              p {
                width: 100%;
                //height: -webkit-fill-available;
                justify-content: center;
                align-items: center;
                display: flex;
              }
            }
          }

          li {
            background-color: #fff;
            flex: 1;
            text-align: center;
            padding: 0 32px;
            @include media(md) {
              padding: 0 10px;

            }

            &:first-of-type {
              padding: 0 32px;

              p {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: initial;
                color: $color-primary;
                margin-bottom: 0;
              }
            }

            &:nth-of-type(2), &:nth-of-type(4) {
              //border-top: 1px solid rgba($color-primary, 0.15);
              border-left: 1px solid rgba($color-primary, 0.15);
              border-right: 1px solid rgba($color-primary, 0.15);
            }

            &:nth-of-type(3) {
              margin: 0 15px;
              //border-top: 1px solid rgba($color-primary, 0.15);
              border-left: 1px solid #363636;
              border-right: 1px solid #363636;
              @include media(md) {
                margin: 0 8px;
              }
            }

            &.legend {
              background-color: #F1F1F1;
              color: $color-primary;
              border: none;
              width: 200px;
              text-align: start;
              @include media(md){
                min-width: 278px;
              }
            }

            p {

              border-bottom: 1px solid rgba($background-primary, .15);
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: initial;
              color: $color-primary;
              margin-bottom: 0;
              padding-bottom: 16px;
              padding-top: 16px;
              justify-content: center;
              align-items: center;
              display: flex;
              //height: -webkit-fill-available;
            }
          }

          &-gap {
            li {
              padding-top: 32px;

              &.legend {
                padding-top: 32px;
                padding-bottom: 16px;
                background-color: transparent;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
                color: rgba($color-primary, .6);
              }

            }

          }

          &-before-gap {
            .legend {
              border-radius: 0px 0px 0px 15px;

            }

            li {

              p {
                border-bottom: 0;
                line-height: initial;

              }
            }
          }

          &-after-gap {
            .legend {
              background: #F1F1F1;
              border-radius: 15px 0px 0px 0px;
            }
          }

          &:last-of-type {

            align-self: flex-start;

            li {
              //padding-top: 30px;

              p {
                line-height: initial;
                padding-top: 16px;
                padding-bottom: 32px;
                border: none;
                margin: 0;
              }

              &:first-of-type {
                border: none;
                border-radius: 0px 0px 0 15px;
                //padding-bottom: 16px;
                align-self: flex-start;

                p {
                  padding-bottom: 16px;
                  padding-top: 16px;

                }
              }

              border-bottom: 1px solid rgba($color-primary, 0.15);
              border-radius: 0px 0px 15px 15px;

              &:nth-of-type(3) {
                border-radius: 0px 0px 15px 15px;
                margin: 0 15px;
                border-bottom: 1px solid #363636;
                @include media(md) {
                  margin: 0 8px;
                }
                //padding-bottom: 30px;
              }
            }
          }
        }

      }

      &-mobile {
        width: 100%;
        margin: 0;
        //border: 1px solid $color-primary;
        border-radius: 15px;
        overflow: hidden;

        .swiper-slide {
          height: auto;

          &:not(.qit-software) {
            .row:first-of-type {
              li:first-of-type {
                @include fonts(600, 20px, 26px, $color-primary);
                background: $background-gray;
              }
            }
          }
        }

        .swiper-slide.qit-software {
          .row {
            &:first-of-type {
              //border-top: unset;

              li:first-of-type {
                //border-left: 1px solid $color-primary;
                //border-right: 1px solid $color-primary;
                border-radius: 15px 15px 0 0;
                overflow: hidden;
              }
            }
          }
        }

        ul {
          width: 100%;

          &:not(.row-gap):not(.row-before-gap):after {
            @include media(sm) {
              width: calc(100% - 32px);
            }
            content: '';
            height: 1px;
            background-color: rgba($color-primary, .15);
            margin: 0 auto;
          }

          &.row {
            list-style: none;
            display: flex; /* turn children li elements into flex children */
            flex: 1;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            border-left: 1px solid $color-primary;
            border-right: 1px solid $color-primary;

            li {
              background-color: #fff;
              flex: 1;
              text-align: center;
              display: flex;
              align-items: center;

              &.legend {
                color: $color-primary;
                border: none;
                justify-content: center;
              }

              &:first-of-type {
                padding: 26px 32px;
                @include media(sm) {
                  flex-basis: 30%;
                }
                @include media(xs) {
                  flex-basis: 40%;
                  padding: 16px;
                }

                p {
                  text-align: start;
                  margin-right: auto;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 20px;
                }
              }

              &:nth-of-type(2) {
                padding: 16px 32px;

                @include media(sm) {
                  padding: 16px;
                }

                p {
                  text-align: end;
                  margin-left: auto;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 22px;

                }
              }


              p {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: $color-primary;
                margin-bottom: 0;
                width: fit-content;
              }
            }

            &:first-of-type {
              flex-direction: column;
              //overflow: hidden;
              //border-top: 1px solid $color-primary;
              border-radius: 15px 15px 0 0;
              border-top: 1px solid $color-primary;
              background: $color-primary !important;

              li {
                text-align: center;

                &:first-of-type {
                  border-radius: 15px 15px 0 0;
                }

                &:last-of-type {
                  background: #fff !important;
                  margin-bottom: -1px;
                }

                svg {
                  display: block;
                  margin: 0 auto;
                  width: 40%;
                  height: 100%;
                }

                &.legend.legend {
                  box-shadow: none;
                  background-color: transparent;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 18px;
                  text-transform: uppercase;
                  color: rgba($color-primary, .6);
                  width: 100%;
                }

                &:first-of-type {
                  align-self: flex-end;
                  background-color: #363636;
                  min-height: 150px;
                  color: $color-white;
                  justify-content: center;

                }


              }
            }

            &:last-of-type {
              border-bottom: 1px solid $color-primary;
              border-radius: 0px 0px 15px 15px;

              li {
                border-radius: 0px 0px 15px 15px;

              }
            }

            &-gap {
              li {
                &.legend {
                  background-color: transparent;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 18px;
                  text-transform: uppercase;
                  color: rgba($color-primary, .6);
                  padding-top: 32px;

                }
              }
            }

            &-before-gap {


              li {
                p {
                  border-bottom: 0;
                  line-height: initial;

                }
              }
            }

          }
        }
      }
    }

    .swiper-pagination {
      display: flex;
      justify-content: center;
      gap: 5%;
      margin-top: 10%;
      pointer-events: all;

      .swiper-pagination-bullet {
        pointer-events: all;

        width: 15px;
        height: 15px;
        border-radius: 100%;
        display: block;
        background: $background-primary;
        opacity: 0.4;
        @include media(sm) {
          width: 5px;
          height: 5px;
        }

        &-active {
          opacity: 1;
        }
      }


    }
  }
}