.section {
  &__solution {
    &-row {
      @include media(md) {
        row-gap: 48px;
        justify-content: center;
      }

      .column-image {
        border-radius: 15px;
        top: calc(96px);
        position: sticky;
        height: fit-content;
        @include media(md) {
          order: 3;
        }

        img {
          max-width: 522px;
          width: 100%;
          height: auto;
          @include media(md) {
            max-width: unset;
          }
        }
      }

      &-title {
        margin-bottom: 16px;

        h3 {
          @include fonts(600, 30px, 36px, $color-primary);

          margin-bottom: 0;
        }
      }

      &-text {

        p {
          @include fonts(400, 16px, 22px, $color-primary);

          &:last-of-type {
            margin-bottom: 0;
          }

        }
      }

      &-solutions {
        margin-top: 48px;

        margin-bottom: 32px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &-heading {
          @include fonts(600, 20px, 26px, $color-primary);
          margin-bottom: 16px;
        }

        &-list {
          &-item {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            svg {
              display: block;

              max-width: 4px;

              max-height: 4px;
              width: 100%;
              height: 100%;
              margin-right: 8px;

              circle {
                fill: $color-primary;
              }
            }

            p {
              @include fonts(400, 16px, 22px, $color-primary);
              margin-bottom: 0;
            }
          }
        }

      }
    }
  }
}