.section {
  &__advantages {
    &-row {
      &-badge {
        background: $background-primary;
        border-radius: 6px;
        font-weight: 600;
        padding: 6px 10px;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 10px;

      }

      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
        color: $color-black;
      }

      &-advantage {
        .card {
          box-shadow: 0px 10px 39px rgba(0, 0, 0, 0.08);
          border-radius: 15px;

        }
      }

      &-advantage:first-child {
        margin-top: 10%;

        .card {
          background: $background-skin;

        }
      }

      &-advantage:nth-child(2) {
        margin-top: 20%;

        .card {
          background: linear-gradient(180deg, #E0E9EA 0%, #EDF5F6 46.65%, #E0E9EA 100%);
        }

        img {
          width: 80%;
          margin: 0 auto;
        }
      }

      &-advantage:nth-child(3) {
        margin-top: 5%;

        .card {
          background: $background-lime;
        }

        img {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 10%;
        }
      }

      &-advantage:nth-child(4) {
        margin-top: 15%;

        .card {
          background: $background-primary;
        }

        h5, p {
          color: $color-white;
        }
      }

    }
  }
}
