.section {
  &__reviews {
    &-row {
      overflow: hidden;
      padding-top: 10%;

      &-badge {
        background: $background-primary;
        border-radius: 6px;
        font-weight: 600;
        padding: 6px 10px;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 10px;

      }

      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
        color: $color-black;
      }

      .review-person-photo {
        position: relative;

        .country {
          position: absolute;
          bottom: 0;
          width: auto;
          display: block;
          height: fit-content;
          padding-right: calc(var(--bs-gutter-x) * .5);
          right:10%;
          svg{display: block}
        }
      }

      &-with {
        position: relative;

        &-modal {
          cursor: pointer;

          svg {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .swiper {
          &-button {

            &-next, &-prev {
              //position: absolute;
              z-index: 9;
              bottom: 0;
              display: flex;
              align-items: center;

              svg {
                z-index: 9;

                path {
                  stroke: $color-black;
                }
              }
            }
          }
        }

        .card {
          &-text {
            .tags {
              color: rgba($color-primary, .5);
            }
          }

          &-img {
            max-width: 70px;
            max-height: 70px;
          }
        }
      }

      &-without {
        position: relative;

        .swiper-button {
          &-next, &-prev {
            position: absolute;
            z-index: 9;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;

            svg {
              z-index: 9;

              path {
                stroke: $color-black;
              }
            }
          }

          &-next {
            &:before {
              width: 1000%;
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
              height: 100%;
            }

            right: 0;
          }

          &-prev {
            &:before {
              width: 1000%;
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
              height: 100%;
            }

            left: 0;
          }
        }

        .swiper-slide {
          width: 40%;

          &-prev, &-next {
            transform: translateY(0%);
            transition: all .5s ease-in-out;
            opacity: .6;
          }

          &-active {
            transform: translateY(-20%);
            transition: all .5s ease-in-out;
            opacity: 1;
          }
        }

        &-comment-img {
          max-width: 52px;
          max-height: 52px;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }

        .card {

          &-title {
            color: $color-primary;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
          }

          &-body {
            padding: 0;
          }

          small {
            color: rgba($color-primary, .7);
          }
        }

      }
    }

  }
}