.section {
  &__technologies {
    &-row{
      &-badge {
        background: $background-primary;
        border-radius: 6px;
        font-weight: 600;
        padding: 6px 10px;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 10px;
      }

      &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
        color: $color-black;
        margin-bottom: 54px;
      }
    }
    &-nav {
      margin-bottom: 30px;

      &-item {
        padding: 0 28px;
        border-right: 1px solid rgba($color-primary, .35);

        &:first-child{
          padding-left: 0;
        }

          &:last-child{
          border:none;
          padding-right: 0;
        }
      }

      .nav-link {
        &.active {
          border: none;
          margin: 0;
          background-color: $background-yellow;
          border-radius: 100px;
          color: $color-primary;

        }

        &:not(.active):hover {
          color: $color-primary;
          border: none;
          margin: 0;
          border-radius: 100px;

          background: rgba($background-yellow, 0.2);
        }
        border-radius: 100px;

        border: none;
        color: $color-primary;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        margin: 0;

      }
    }

    &-row {
      .technology-col {
        height: 170px;
      }

      .card {
        border-radius: 14px;
        overflow: hidden;

        &-body {
          background: $background-gray;
          padding: 6px;
          max-height: 30px;
        }

        &-title {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: $color-primary;
        }

        &-img {


          img {
          }
        }
      }
    }
  }
}