.section {
  &__position {

    &-row {
      @include media(md) {

        width: 100%;
        margin: 0;
      }

      .position-form {
        height: fit-content;
        padding: 32px;
        background: #FFFFFF;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        position: sticky;
        top: 48px;
        @include media(md) {
          margin-top: 48px;
          position: static;
          top: unset;
        }

        h3 {
          @include fonts(400, 28px, 34px, $color-primary);
          margin-bottom: 32px;
        }

        .wpforms-submit-container {
          text-align: center;
        }
      }

      &-hr {
        height: 1px;
        border-bottom: 1px solid rgba($color-primary, .15);
        margin-bottom: 48px;
      }

      &-tags {
        column-gap: 16px;
        row-gap: 24px;
        margin-bottom: 10px;

        &.list-group {
          margin-bottom: 48px;
        }

        & > p {
          margin-bottom: 0;
          display: flex;
          column-gap: 16px;
        }

        span.tag {
          @include fonts(400, 16px, 22px, rgba($color-primary, .5));
        }

        @include media(xs) {
          row-gap: 16px;
          flex-direction: column;
          align-items: center;
        }

        &-item {
          padding: 8px 16px;
          background: $color-primary;
          border-radius: 61px;
          height: fit-content;
          @include media(xs) {

            width: fit-content;
          }

          &:first-of-type {
            border-radius: 61px;
          }

          &:last-of-type {
            border-radius: 61px;
            margin-right: 0;
          }

          p {
            margin-bottom: 0;
          }

          &-name {
            @include fonts(600, 14px, 20px, $color-white);
            margin-right: 5px;
          }

          &-text {
            @include fonts(400, 14px, 20px, $color-white);

          }
        }
      }

      &-requirements {
        margin-bottom: 32px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &-heading {
          @include fonts(600, 20px, 26px, $color-primary);
          margin-bottom: 16px;
        }

        &-list {
          &-item {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            &:last-of-type {
              margin-bottom: 0;
            }

            svg {
              display: block;

              max-width: 4px;

              max-height: 4px;
              width: 100%;
              height: 100%;
              margin-right: 8px;

              circle {
                fill: $color-primary;
              }
            }

            p {
              @include fonts(400, 16px, 22px, $color-primary);
              margin-bottom: 0;
            }
          }

        }
      }

      &-title {
        margin-bottom: 16px;

        h1 {
          @include fonts(400, 38px, 44px, $color-primary);
          margin-bottom: 0;
        }
      }

      &-excerpt {
        margin-bottom: 24px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
