.section {
  div.wpforms-container-full .wpforms-form .wpforms-field-number-slider {
    //padding: 32px 0!important;
    padding: 32px !important;

    input[type=range] {
      background: linear-gradient(to right, $background-primary 0%, $background-primary 0, #F8F8F8 0%, #F8F8F8 100%);
      border: unset !important;
      border-radius: 8px !important;
      height: 2px !important;
      width: 100% !important;
      outline: none !important;
      transition: background 450ms ease-in !important;
      -webkit-appearance: none !important;
      margin: 0 !important;
      margin-bottom: 16px !important;
      z-index: 3;
      //border-left: 32px $color-primary solid !important;
      //border-right: 32px #F8F8F8 solid !important;
      cursor: pointer !important;
      //margin-right: 32px !important;
      //margin-left: 32px !important;
      //border-left: unset !important;
      //border-right: unset !important;
      //padding: 0 32px;

      &::-webkit-slider-thumb {
        background: $color-primary;
        //margin-left:  5% ;
        max-width: 15px;
        max-height: 15px;
        z-index: 3;

      }

    }


  }

  &__form {
    &-wrapper {

      background-color: $color-white !important;
      box-shadow: 0px 7px 41px rgba(0, 0, 0, 0.06) !important;
      border-radius: 15px !important;
      margin-bottom: 24px !important;
      @include media(xs) {
        box-shadow: 0px 7px 41px rgba(0, 0, 0, 0.03) !important;
      }

      &:last-of-type {
        margin-bottom: 32px !important;
      }
    }


    &-row {
      &:first-of-type {
        max-width: fit-content;
      }

      &:nth-of-type(2) {
        width: 100%;
        max-width: fit-content;
        margin: 0 auto 48px;

        h2 {

          font-weight: 400 !important;
          font-size: 38px !important;
          line-height: 45px !important;
          color: $color-primary !important;
          margin-bottom: 0 !important;
        }
      }


      .rekki__wrapper {
        padding: 32px;
        display: flex;
        @include media(md) {
          flex-wrap: wrap;

        }
        @include media(xs) {
          flex-direction: column;
          padding: 0;
        }

        &-header {
          @include fonts(600, 12px, 18px, rgba($color-primary, .6));
          text-transform: uppercase;
          padding: 0 !important;
          margin-bottom: 16px;

        }

        .accordion-item {
          //padding: 24px 32px;
          padding: 0;
          border-bottom: 1px solid rgba($color-primary, 0.1);

          &:last-of-type {
            border-bottom: unset;
          }

          .accordion-body {
            margin: 24px 0 !important;
          }

          .accordion-collapse {

            @include media(xs) {
              //padding: 24px 0 !important;
              padding: 0 32px !important;

            }
          }

          .accordion-header {
            position: relative;
            top: 1px;
          }

          button {
            @include fonts(600, 12px, 18px, $color-primary);
            text-transform: uppercase !important;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 24px 32px;
            transition: .3s all ease-in-out !important;

            &[aria-expanded="true"] {
              transition: .3s all ease-in-out;

              svg {
                transition: .3s all ease-in-out;

                transform: rotate(180deg);
              }
            }

            svg {
              transition: .3s all ease-in-out;

              width: 14px;
              height: 9px;
            }

            &:after {
              content: unset;
            }
          }

        }

        &-lang {
          &:nth-last-child(-n+2) {
            margin-bottom: 0;
          }

          @include media(sm) {
            margin-bottom: 32px;

          }

          &-front-end, &-mobile, &-back-end, &-infrastructure {
            flex-basis: 25%;
            padding: 0 16px;

            &:first-of-type {
              padding-left: 0;
            }

            &:last-of-type {
              padding-right: 0;
            }

            @include media(md) {
              flex-basis: 50%;
              margin-bottom: 32px;
              &:nth-last-of-type(-n+1) {
                margin-bottom: 0;
              }
              &:first-of-type {
                padding-left: 16px;
              }

              &:last-of-type {
                padding-right: 16px;
              }
            }
            @include media(xs) {
              flex-basis: 100%;
              padding-left: 0 !important;
              padding-right: 0 !important;
            }

            .wpforms-field {
              padding: 0 !important;
              margin-bottom: 24px !important;
              display: flex !important;
              align-items: center;
              justify-content: space-between;

              &.rekki__wrapper-header {
                @include media(xs) {
                  display: none !important;
                }
              }

              .counter {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
              }

              @include media(xs) {
                justify-content: space-between;
              }

              &:last-of-type {
                margin-bottom: 0 !important;
              }

              input {
                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }

                margin: 0 8px;
                height: 100%;
                display: block;
                width: 32px;
                padding: 0;
                border: 0 !important;
                text-align: center;
              }

              label.wpforms-error {
                display: none !important;
              }

              .button {
                @include fonts(400, 20px, 20px, $color-primary);
                max-height: 24px;
                display: block;
                max-width: 24px;
                height: 24px !important;
                width: 24px !important;
                background: $background-gray;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid transparent;
                transition: .3s all ease-in-out;

                &:hover {
                  background: #E4E4E4;
                }
              }

              label {
                @include fonts(400, 16px, 22px, $color-primary !important);
                flex-basis: 50%;
                margin-right: 10px;
                margin-bottom: 0;

              }
            }
          }
        }
      }

      &-industry.wpforms-field {
        padding: 32px !important;

        ul {
          display: flex;
          gap: 24px;
          flex-wrap: wrap;
          @include media(xs) {
            justify-content: center;
          }

          li.depth-1 {
            margin-right: 0 !important;
            display: flex;
            align-items: center;
            margin-bottom: 0 !important;
            @include media(xs) {
              display: flex;
              align-items: center;
              flex-basis: 100%;
            }

            input {
              //width: 1.3em;
              //height: 1.3em;
              //background-color: white;
              //border-radius: 50%;
              //vertical-align: middle;
              //border: 1px solid rgba($color-primary, 0.1);
              //appearance: none;
              //-webkit-appearance: none;
              //outline: none;
              //cursor: pointer;

              position: absolute;
              z-index: -1;
              opacity: 0;

              & + label {
                display: inline-flex !important;
                align-items: center !important;
                user-select: none !important;
                cursor: pointer !important;

                &:before {
                  transition: .3s all ease-in-out;

                  content: '' !important;
                  display: inline-block !important;
                  width: 24px !important;
                  height: 24px !important;
                  flex-shrink: 0 !important;
                  flex-grow: 0 !important;
                  border: 1px solid rgba($color-primary, 0.15) !important;
                  border-radius: 100% !important;
                  margin-right: 10px !important;
                  background-repeat: no-repeat !important;
                  background-position: center center !important;
                  background-size: 50% 50% !important;
                }
              }

              &:checked + label::before {
                transition: .3s all ease-in-out;
                background-color: $color-white !important;
                border-color: $color-primary !important;
                background-image: url(./../../assets/userfiles/icons/radio-checked.svg);

              }

              &:not(:disabled):not(:checked) + label:hover::before {
                transition: .3s all ease-in-out;
                border-color: rgba($color-primary, .15) !important;
                background-color: transparent !important;
                background-image: url(./../../assets/userfiles/icons/radio.svg);
              }

              &:not(:disabled):active + label::before {
                background-color: $color-white !important;
                border-color: $background-yellow !important;
                background-image: url(./../../assets/userfiles/icons/radio-checked.svg);
              }
            }

            label {
              @include fonts(400, 16px, 22px, $color-primary !important);

            }
          }
        }

      }

      &-duration {
        //padding: 24px !important;
        .wpforms-field-number-slider-hint, .wpforms-field-number-slider-hint-year {
          //padding-left: 32px;
          margin-bottom: 32px;
        }

        .wpforms-field-number-slider-hint, .wpforms-field-number-slider-hint-year, b {

          @include fonts(400 !important, 38px !important, 44px !important, $color-primary !important);
          @include media(xs) {
            @include fonts(400 !important, 30px !important, 44px !important, $color-primary !important);
          }
        }


        ul {
          display: flex;
          justify-content: space-between;
          //padding: 0 32px;
          position: relative;

          .range__opt {
            @include fonts(400, 16px, 22px, $color-primary);

            position: relative;
            //margin-top: 10px;

            &.active:before {
              background: $color-primary;
            }

            &:last-child {
              @include media(sm) {

                .text.years {
                  position: absolute;
                }
              }

            }

            &:last-child:before {
              left: unset;
              top: -80%;
              right: 0;
            }

            &:before {
              height: 9px;
              position: absolute;
              content: "";
              width: 9px;
              //transform: rotate(45deg) translate(25%, -125%);
              background: $background-gray;
              border-radius: 100%;
              top: -100%;
              //z-index: 99999;
              display: block;
              visibility: visible;
              pointer-events: none;
            }

            &:nth-of-type(1) {
              //display: none;
            }

            &-4, &-5, &-7, &-8, &-10, &-11 {
              span {
                opacity: 0;
                //display: none;
                visibility: hidden !important;
              }
            }

            &-3 {
              &:before {
                left: 0px;
              }
            }

            &-4 {
              //@include media(md) {
              left: 9.5px;
              //}
              @include media(md) {
                left: 5px;
              }

              &:before {
                //left: 9.5px;
                @include media(md) {
                  //left: 5px;
                }
              }
            }

            &-5 {
              //@include media(md) {
              left: 16.5px;
              //}
              @include media(md) {
                left: 7px;
              }

              &:before {
                //left: 16.5px;
                @include media(md) {
                  //left: 7px;
                }
              }
            }

            &-6 {
              //@include media(md) {
              left: 23.5px;
              //}
              @include media(md) {
                left: 9px;
              }

              &:before {
                //left: 23.5px;
                @include media(md) {
                  //left: 9px;
                }
              }
            }

            &-7 {
              //@include media(md) {
              left: 30.5px;

              //}
              @include media(md) {
                left: 11px;
              }

              &:before {
                //left: 30.5px;
                @include media(md) {
                  //left: 11px;
                }
              }
            }

            &-8 {
              //@include media(md) {
              left: 37.5px;

              //}
              @include media(md) {
                left: 14px;
              }

              &:before {
                //left: 37.5px;
                @include media(md) {
                  //left: 14px;
                }
              }
            }

            &-9 {
              //@include media(md) {
              left: 44.5px;

              //}
              @include media(md) {
                left: 16px;
              }

              &:before {
                //left: 44.5px;
                @include media(md) {
                  //left: 16px;
                }
              }
            }

            &-10 {
              //@include media(md) {
              left: 51.5px;

              //}
              @include media(md) {
                left: 18px;
              }

              &:before {
                //left: 51.5px;
                @include media(md) {
                  //left: 18px;
                }
              }
            }

            &-11 {
              //@include media(md) {
              left: 51.5px;

              //}
              @include media(md) {
                left: 13px;

              }

              &:before {
                //left: 51.5px;
                //@include media(md) {
                //  left: 13px;
                //
                //}
              }
            }

            &-12 {
              @include media(md) {
              }

              &:before {
                //left: 51.5px;

              }
            }
          }
        }
      }

      &-header {
        padding: 0 !important;
        max-height: 74px;
        height: 100%;
        position: relative !important;
        background: #fff !important;
        @include media(xs) {
          max-height: 100%;
          height: 100%;
          overflow: visible !important;
        }

        .notice-error {
          @include fonts(400, 16px, 22px, #F43535);
          position: absolute !important;
          width: fit-content;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          padding: 8px 24px;
          z-index: 4;
          background: #FEE1E1;
          border-radius: 0px 0px 15px 15px;
          overflow: hidden;
          transition: .3s all ease-in-out !important;
          @include media(xs) {
            //position: relative !important;
          }
        }

        .section__form-row {
          display: flex;
          align-items: center;
          max-width: unset;
          max-height: 74px;
          height: 100%;
          background: #FFFFFF;
          border-bottom: 1px solid rgba($color-primary, 0.15);
          padding: 24px;

          @include media(xs) {
            max-height: 100%;
          }

          &-count {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;

            color: rgba($color-primary, .3);
          }

          &-heading {
            @include fonts(600, 20px, 26px, $color-primary);
            flex-basis: 100%;
            text-align: center;
            @include media(xs) {
              width: 100%;
              margin: 0 auto;
              max-width: 210px;
            }
          }
        }
      }

      .btn {
        @include fonts(400 !important, 14px !important, 19px !important, $color-primary !important);
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 !important;
        padding: 14px 30px !important;
        border-radius: 100px !important;
        text-decoration: none !important;
        border: 1px solid $background-yellow !important;
        text-transform: uppercase !important;
        height: 48px !important;
        transition: all .3s ease-in-out !important;
        text-align: center !important;
        background-color: $background-yellow !important;
        max-height: 48px !important;

        &:hover, &:focus {
          color: rgba($color-primary, .8) !important;
          background-color: $background-yellow-2 !important;
          border-color: $background-yellow-2 !important;
          border: 1px solid $background-yellow-2 !important;

        }

        &:focus:not(:hover) {
          color: $color-primary !important;
          background-color: $background-yellow !important;
        }
      }

      .wpforms-submit-container {
        text-align: center !important;
        padding: 0 !important;

      }

      &:nth-of-type(3) {


      }
    }
  }

  .accordion-collapse.collapsing {
    height: 0;
    overflow: hidden !important;
    transition: all .3s ease-in-out !important;
    padding: 0 32px !important;
  }
}

