
.section {
  &__cards {
    &-row {
      &:first-of-type {
        max-width: fit-content;
      }

      &:nth-of-type(2) {
        max-width: fit-content;
        margin: 0 auto 48px;
      }

      &:last-of-type {

        row-gap: 24px;
      }

      .cards {
        &-card {
          border-radius: 15px;

          .card {
            padding: 32px;
            background: #F5F5F5;
            border-radius: 15px;

            &-title {
              padding: 0;
              width: fit-content;
              margin: 0;
            }

            &-header {
              padding-top: 0;
              padding-bottom: 0;
              margin: 0;
              margin-bottom: 13px;

              .title {

                @include fonts(600, 20px, 26px, $color-primary);

                @include media(xs) {
                  font-size: 20px;
                  line-height: 26px;
                }
              }
            }

            &-body {
              padding: 0;
            }

            &-text {
              @include fonts(400, 16px, 22px, rgba($color-primary, .8));
              padding:0;
              @include media(xs) {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
}