
.section {
  &__dedicated {
    &-row {
      &:first-of-type {
        max-width: 55px;
      }

      &:nth-of-type(2) {
        max-width: 671px;
        margin: 0 auto 48px;
        @include media(sm) {
          margin: 0 auto 18px;
        }
        }


      .timeline {
        list-style: none;
        padding-top: 30px;
        display: flex;
        overflow: hidden;
        @include media(sm) {
          padding-top: 0;
          //overflow-x: scroll;
          //overflow-y: hidden;
          //flex-wrap: nowrap;

        }

        &::before {
          display: inline-block;
          content: "";
          width: 100%;
          height: 2px;
          background: rgba($color-primary, .10);
          @include media(sm){
            content: unset;
          }
        }

        li {
          display: inline-block;
          line-height: 1.2;
          position: relative;
          margin: 0 15px;
          @include media(md) {
            //width: 100%;
            //flex: 0 0 auto;
          }
          @include media(sm) {
            width: 100%;
            flex: 0 0 auto;
            margin: 15px 0;
          }

          &:first-of-type {
            margin-left: 0;
            @include media(md) {
              margin: 0;

            }
          }

          &:last-of-type {
            margin-right: 0;
            @include media(md) {
              margin: 0;

            }
          }

          &:before {
            @include fonts(600, 30px, 36px, $color-primary);

            content: attr(data-year);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background: #F5F5F5;;
            height: 60px;
            width: 60px;
            border-radius: 100%;
            top: -30px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(md) {
              content: unset;
            }
          }

          .content {
            text-align: left;
            margin-top: 62px;
            border-left: 1px solid rgba($color-primary, 0.15);
            border-right: 1px solid rgba($color-primary, 0.15);
            padding: 32px;
            height: 100%;

            &:first-of-type {
              @include media(sm) {
                margin-top: 0;
              }
            }

            .title {
              margin-bottom: 16px;

              h4 {
                @include fonts(600, 20px, 26px, $color-primary);
                margin-bottom: 0;
              }
            }

            .text {
              @include fonts(400, 16px, 22px, rgba($color-primary, .8));

              p {
                margin-bottom: 8px;

                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

      }
    }
  }
}
