@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/awesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('fonts/awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('fonts/awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('fonts/awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
