//Inter
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("fonts/inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("fonts/inter/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("fonts/inter/Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("fonts/inter/Inter-Italic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("fonts/inter/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    font-display: swap;
    src: url("fonts/inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
    url("fonts/inter/Inter-BlackItalic.woff?v=3.19") format("woff");
}

//End Inter
@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/awesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('fonts/awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('fonts/awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('fonts/awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'qit-software-icon';
    src:  url('./fonts/qit-icons/qit-software-icon.eot?o6zzm3');
    src:  url('./fonts/qit-icons/qit-software-icon.eot?o6zzm3#iefix') format('embedded-opentype'),
    url('./fonts/qit-icons/qit-software-icon.ttf?o6zzm3') format('truetype'),
    url('./fonts/qit-icons/qit-software-icon.woff?o6zzm3') format('woff'),
    url('./fonts/qit-icons/qit-software-icon.svg?o6zzm3#qit-software-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="qit-software-icon-"]:before, [class*=" qit-software-icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'qit-software-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.qit-software-icon-closemark:before {
    content: "\e900";
    color:black;
  font-size: 32px;
}
.qit-software-icon-phone:before {
    content: "\e902";
}
.qit-software-icon-mail:before {
    content: "\e901";
}
