/**
 * Breakpoints
 */
$breakpoints: (
        xs: 500px,
        sm: 767px,
        md: 991px,
        lg: 1200px,
        xl: 1400px,
);

/**
 * Body
 */
$font-body                      :   'Gotham Pro', sans-serif;
$color-body                     :   #1C3360;
$color-h                        :   #000;
$textSize-body                  :   16px;
$textLineHeight-body            :   27px;
$backgroundColor-body           :   #fff;
$fontWeight-body                :   400;

$textSize-body-medium           :   14px;
$textLineHeight-body-medium     :   22px;

/**
 * Container
 */
/**
 * Link
 */
$color-link                     :   #fff;

/**
 * Background
 */
$background-grey-f6                :   #F6F6F6;
$background-grey-e9                :   #E9E9E9;
$background-red                    :   #F14C26;



/**
 * Colors
 */
$color-black: #1a1a1a;
$color-white: #fff;
$color-red:   #F14C26;
