/**
 * Breakpoints
 */
$breakpoints: (
        xs: 575px,
        sm: 767px,
        md: 991px,
        lg: 1200px,
        xl: 1400px,
);

/**
 * Body
 */
$font-body                      :   'Inter', sans-serif;
$color-h                        :   #1A1818;
$textSize-body                  :   16px;
$textLineHeight-body            :   27px;
$backgroundColor-body           :   #fff;
$fontWeight-body                :   400;

$textSize-body-medium           :   14px;
$textLineHeight-body-medium     :   22px;

/**
 * Container
 */
/**
 * Link
 */
$color-link                     :   #fff;

/**
 * Background
 */
$background-primary                :   #363636;
$background-gray:#F1F1F1;
$background-yellow:#FEF200;
$background-yellow-2:#EFE400;
$background-lime:#FCFFE7;
$background-skin:#F8ECD1;
/**
 * Colors
 */
$color-primary                :   #363636;
$color-black:#1A1818;
$color-white:#fff;
$color-yellow:#FEF200;
