.section {
  &__reviews {
    iframe {
      display: block;
      position: relative;
    }

    &-row {
      overflow: hidden;

      &:first-of-type {
        max-width: 66px;
      }

      &:nth-of-type(2) {
        width: 100%;
        max-width: 594px;
        margin: 0 auto 48px;

      }

      &:nth-of-type(3), &:nth-of-type(4) {
        margin-bottom: 32px;
      }


      &-comment {
        margin: 0;
        align-items: center;
        @include media(md) {

          justify-content: center;
        }
      }

      button.btn {
        @include media(xs) {
          width: 100%;
          padding: 15px 20px;
          font-size: 14px;
        }

      }

      .review-person-name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 16px;
        @include media(sm) {
          max-width: fit-content;
        }

        .card {
          &-title {
            @include fonts(600, 16px, 20px, $color-primary);
            margin-bottom: 4px;

          }

          &-text {
            margin: 0;
            max-height: 20px;
            //max-width: 239px;

            small {
              @include fonts(400, 14px, 20px, rgba($color-primary, .7));
              display: block;

            }

          }
        }

      }

      .review-person-photo {
        position: relative;
        width: 80px;
        height: 80px;
        padding: 0;
        @include media(sm) {
          margin-bottom: 16px;
        }

        img {

          width: 100%;
          @include media(sm) {
            max-width: unset;
            max-height: unset;
          }
        }

        @include media(xs) {
          height: fit-content;
        }

        .country {
          position: absolute;
          bottom: 0;
          width: auto;
          display: block;
          height: fit-content;
          right: 10%;

          svg {
            display: block
          }
        }
      }

      &-with {
        position: relative;

        &-modal {
          cursor: pointer;
          max-width: 445px;
          max-height: 445px;
          position: relative;
          overflow: hidden;
          @include media(md) {
            margin-bottom: 62px;
          }

          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: calc(100% - 24px);
            display: block;
            background: rgba(0, 0, 0, 0.38);
            border-radius: 100%;

          }


          svg {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .swiper {
          &-wrapper {
            margin-bottom: 20px;
          }

          &-arrows {
            width: 81px;
            @include media(md) {
              margin: 0 auto;
            }
          }

          &-button {
            &-next {
              @include media(md) {

                left: 52%;
              }
              @include media(xs) {
                left: 53%;

              }
            }

            &-prev {
              @include media(md) {
                right: 52%;
              }
              @include media(xs) {
                right: 53%;
              }
            }

            &-next, &-prev {
              z-index: 9;
              bottom: 0;
              display: flex;
              align-items: center;
              width: 25px;
              height: 11px;
              @include media_min(review_min) {
                bottom: 38vh;
              }
              @include media(md) {
                position: absolute;
                bottom: 38%;
              }
              @include media(sm) {
                bottom: 40%;
              }


              @include media(review_min) {
                top: 95vw;
              }

              svg {
                z-index: 9;

                path {
                  stroke: $color-primary;
                }
              }
            }
          }
        }

        .col-text {
          max-width: 585px;
          //padding: 0;
        }

        .card > .row {
          align-items: center;
          justify-content: space-between;
          @include media(md) {
            justify-content: center;

          }
        }

        .card {
          width: 100%;

          &-body {
            padding: 0;

            text-align: left;
            max-width: 585px;
          }

          &-text {
            margin-bottom: 20px;
            @include media(md) {
              justify-content: center;
            }
            @include media(xs) {
              display: flex;
              justify-content: center;
            }

            .tags {
              height: 22px;
              margin-right: 16px;
              display: block;
              width: fit-content;
              @include fonts(400, 16px, 22px, rgba($color-primary, .5));
            }
          }

          h3 {
            margin-bottom: 32px;
            @include fonts(500, 30px, 38px, $color-primary);
            @include media(md) {
              text-align: center;

            }
            @include media(xs) {
              text-align: center;
            }
          }


        }
      }



      .comment-text {
        text-align: start;

        @include media(xs) {
          text-align: center;
        }
      }
    }

  }
}