/**
 * Classes Buttons
 *
 * btn
 *
 */

.btn, .button {
  @include fonts(400, 14px,19px, $color-primary);
  display: inline-block;
  margin: 0;
  padding: 14px 30px;
  border-radius: 100px;
  text-decoration: none;
  border: 1px solid $background-yellow;
  text-transform: uppercase;
  height: 48px;
  max-height: 48px;
  transition: all .3s ease-in-out;
  text-align: center;
  background-color: $background-yellow;

  &:hover, &:focus {
    color: rgba($color-primary, .8);
    background-color: $background-yellow-2;
    border-color: $background-yellow-2;
  }

  &:focus:not(:hover) {
    color: $color-primary;
    background-color: $background-yellow;
  }
  &.btn-outline {
    border: 1px solid $background-yellow;
    background-color: transparent;
    color: $color-yellow;
  }
  &.black {
    color: $color-primary;

    &:hover {
      background: transparent;
      color: $color-yellow;
      border-color: $background-yellow-2;
    }

    &:focus {
      background: transparent;
      color: $color-yellow;
      border-color: $background-yellow-2
    }

    &:focus:not(:hover) {
      color: $color-primary !important;
      border-color: $background-yellow;
      background-color: $background-yellow;

    }

  }
  span {
    position: relative;
    top: 2px;
  }

  svg {
    margin: 0 0 0 8px;
  }



}
