.blog-post-insert {
  display: flex;
  column-gap: 20px;
  margin-bottom: 32px;
  padding: 38px 0;
  border: 1px solid rgba(54, 54, 54, 0.15);
  border-right: unset;
  border-left: unset;
  &__img {
    max-width: 192px;
    max-height: 120px;
    border-radius: 10px;
    @include media(md){
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h6 {
      @include fonts(400, 10px, 16px, rgba($color-primary, .5));
      margin-bottom: 6px;
    }


    &__title {

      h4 {
        @include fonts(600, 20px, 26px, $color-primary);
      }
    }

  }

}