
.section {
  &__candidates {
    &-row {
      .timeline {
        position: relative;
        padding: 0 0 40px 0;
        width: 100%;
        box-sizing: border-box;
        height: 100%;

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          width: 1px;
          height: 89%;
          background: rgba($background-primary, .15);
        }

        &-title {
          @include fonts(600, 30px, 36px, $color-primary);
          padding: 0;
          margin: 0;
          margin-top: 2.5px;
          @include media(sm){
            margin-top: 5px;
          }
        }

        &-text {
          @include fonts(400, 16px, 22px, rgba($color-primary, .8));
          margin: 10px 0 0;
          padding: 0;
        }

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            position: relative;
            width: 50%;
            padding: 0px 80px;
            box-sizing: border-box;

            &:nth-child(odd) {
              float: right;
              padding-right: 0;
              text-align: left;
              clear: both;
              margin-bottom: 70px;
              @include media(xs) {
                margin-bottom: 40px;
              }
            }

            &:nth-child(even) {
              float: left;
              text-align: right;
              padding-left: 0;
              clear: both;
              margin-bottom: 70px;
              @include media(xs) {
                margin-bottom: 40px;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            &:nth-child(odd):before {
              content: attr(data-candidate-num);
              position: absolute;
              width: 49px;
              height: 49px;
              top: 0px;
              z-index: 6;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $color-white;
              background: rgba($color-primary, 1);
              border-radius: 50%;
              box-shadow: 0px 0px 0 11px rgb(248 248 248);
              left: 0;
              transform: translate(-50%, 0);
            }

            &:nth-child(even):before {
              content: attr(data-candidate-num);
              position: absolute;
              width: 49px;
              height: 49px;
              top: 0px;
              z-index: 6;
              color: $color-white;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba($color-primary, 1);
              border-radius: 50%;
              box-shadow: 0px 0px 0 11px rgb(248 248 248);
              right: 0;
              transform: translate(50%, 0);
            }

            &:nth-child(odd):after {
              //content: '';
              position: absolute;
              width: 20px;
              height: 110px;
              top: -30px;
              left: 0;
              z-index: 5;
              background-color: white;
              transform: translate(-50%, 0);
              @include media(sm) {
                right: 100%;
                bottom: 0;
                //top: -45px;
                //height: 150px;
                -webkit-transform: translate(300%, 0);
                transform: translate(200%, 0);
              }
              @include media(xs) {
                top: -52px;
                height: 151px;
              }
            }

            &:nth-child(even):after {
              //content: '';
              position: absolute;
              width: 20px;
              height: 110px;
              top: -30px;
              right: 0;
              z-index: 5;

              background-color: white;
              transform: translate(50%, 0);
              @include media(sm) {
                right: 100%;
                bottom: 0;
                //top: -45px;
                //height: 140px;
                transform: translate(300%, 0);
              }
              @include media(xs) {
                top: -52px;
                height: 151px;
              }
            }

            .content {
              //height: 140px;
              @include media(xs) {
                //height: 100%;
              }
            }
          }
        }
      }


      @include media(md) {
        .timeline {
          width: 100%;
        }
      }
      @include media(sm) {
        .timeline {
          width: 100%;
          padding-bottom: 0;

          &:before {
            left: 50px;
            height: 80%;
          }


          ul {
            li {
              &:nth-child(odd), &:nth-child(even) {
                width: 100%;
                text-align: left;
                padding-left: 100px;
                padding-right: 16px;
                padding-bottom: 50px;

                &:before {
                  left: 0;
                  transform: translate(50%, 0);
                }
              }
            }
          }
        }

      }
      @include media(xs) {
        .timeline {
          ul {
            li {
              &:nth-child(odd), &:nth-child(even) {
                margin-bottom: 40px;
                padding-bottom: 0;
                //height: 262px;
                &:before {
                  top: 0px;

                }
              }

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }

      }

      @include media(md) {
        .timeline {
          width: 100%;
        }
      }
      @include media(sm) {
        .timeline {
          width: 100%;
          padding-bottom: 0;

          &:before {
            left: 50px;
            height: 80%;
          }


          ul {
            li {
              &:nth-child(odd), &:nth-child(even) {
                width: 100%;
                text-align: left;
                padding-left: 100px;
                padding-right: 16px;
                padding-bottom: 50px;

                &:before {
                  left: 0;
                  transform: translate(50%, 0);
                }
              }
            }
          }
        }

      }
      @include media(xs) {
        .timeline {
          ul {
            li {
              &:nth-child(odd), &:nth-child(even) {
                margin-bottom: 40px;
                padding-bottom: 0;
                //height: 262px;
                &:before {
                  top: 0px;

                }
              }

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }

      }
    }
  }
}
