body.post-type-archive-qit_cases {
  @import "hero";
  @import "cases";
}

body.qit_cases-template-default {
  @import "single-case";

  &.postid-1692 {
    .section__client-row-technologies {
      flex-direction: row-reverse;
      li {
        display: flex;
      }

      .technology-react {
        order: 1;
      }
    }
  }
}
